{% extends './layout.html' %} {% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/pager.js"></script>
<script src="/public/utils/dialog.js"></script>
<script src="/public/utils/form.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/artical.js"></script>

{% endblock %} {% block content %}
<div class="sub-title">
  编辑文章
</div>
<div class="content-inner">
  <div class="iform" id="articalForm"></div>
</div>
<script>
// 创建表单
var iform = new Iform(document.getElementById("articalForm"), formModel)
//
</script>
{% endblock %}