{% extends './layout.html' %} {% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/pager.js"></script>
<script src="/public/utils/dialog.js"></script>
<script src="/public/utils/form.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/artical.js"></script>

{% endblock %} {% block content %}
<div class="sub-title">
  文章管理
</div>
<div class="content-inner">
  <div class="list">
    <div class="itable"></div>
    <div class="pager-container"></div>
  </div>
</div>
<script>

</script>
{% endblock %}