{% extends './layout.html' %} {% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/pager.js"></script>
<script src="/public/utils/dialog.js"></script>
<script src="/public/utils/form.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/artical.js"></script>
<script src="/public/js/wangEditor.js"></script>
<style type="text/css">
	.w-e-text-container{
	  height: 467px !important;
	}
</style>
{% endblock %} {% block content %}
<div class="sub-title">
  编辑文章
</div>
<div class="content-inner">
  <div class="iform" id="articalForm"></div>
  <div class="iform" style="padding: 0 10px;">
    <div class="form-group">
      <label class="form-label">内容</label>
      <div class="form-control" id="contentEditor" style="border: none; height: 500px;"></div>
    </div>
  </div>
  <div class="form-btns" style="padding-left: 140px;">
    <span class="btn btn-success" onclick="save()">保存</span>
  </div>
</div>
<script>
// 拉取分类列表
var iform,validator;
getCategorys().then(function (res) {
  // 创建表单
  formModel[2].options = res.data.data
  iform = new Iform(document.getElementById("articalForm"), formModel)
  // 表单验证
  validator = new Validater(document.getElementById(iform.id))
})
// 编辑器
var wEditor = window.wangEditor
var editor = new wEditor('#contentEditor')
editor.customConfig.customUploadImg = function (files, insert) {
  var formData = new FormData()
  formData.append('file', files[0])
  $http.post('/admin/fileUpload', formData).then(res => {
    insert(res.data.data)
  })
}
editor.create()
// 保存
function save () {
  var valid = validator.check()
  if (!valid) return
  var params = iform.datas
  params.content = editor.txt.html()
  saveArtical(params).then(function (res) {
    if (res.data.code === 200) {
      window.location.href = '/admin/artical'
    } else {
      message.msg({
        type: 'error',
        message: res.data.message
      })
    }
  })
}
// 拉取详情
if (window.location.search) {
  getDetail([window.location.search.split('=')[1]])
}
function getDetail (params) {
  detailArtical(params).then(function (res) {
    iform.form.formData = res.data.data
    editor.txt.html(res.data.data.content)
  })
}
</script>
{% endblock %}