{% extends './layout.html' %}
{% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/category.js"></script>
<script src="/public/utils/form.js"></script>
{% endblock %}
{% block content %}
<div class="sub-title">
  分类管理
</div>
<div class="content-inner">
  <div class="btn-group">
    <span class="btn btn-success">新增</span>
  </div>
  <div class="list">
    <div class="itable"></div>
  </div>
  
  <div style="width: 70%;" class="iform"></div>
</div>
<script>
  var iform = new Iform( document.querySelector('.iform'), formModel, btns)
  const cateForm = document.getElementById(iform.id)
  // 创建分类表格
  let  table
  createCategoryTable()
  function createCategoryTable () {
    let el = document.querySelector('.list').querySelector('.itable')
    table = new Table(tableModel, el)
    table.create()
  }
  // 初始化表单验证对象
  var validator = new Validater(cateForm)
  // 拉取分类列表
  getCategorys()
  function getCategorys () {
    getCategoryList().then(res => {
      table.tableData = res.data.data
    })
  }
  // 保存分类信息
  function save (event) {
    if (!validator.check()) return
    var params = iform.datas
    saveCategory(params).then(res => {
      if (res.data.code === 200) {
        getCategorys()
        eventHandler.getTarget(event).nextSibling.click()
      }
    })
  }
  // 删除分类信息
  function deletes (params) {
    deleteCategory({id: params._id}).then(res => {
      if (res.data.code === 200) {
        alert(res.data.message)
        getCategorys()
      }
    })
  }
  // 拉取分类详情
  function getDetail (params) {
    detailCategory({id: params._id}).then(res => {
      var formData = res.data.data
      iform.form.formData = formData
    })
  }
</script>
{% endblock %}
