{% extends './layout.html' %}
{% block head %}
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/category.js"></script>
{% endblock %}
{% block content %}
<div class="sub-title">
  分类管理
</div>
<div class="content-inner">
  <div class="btn-group">
    <span class="btn btn-success">新增</span>
  </div>
  <div class="list">
    <div class="itable"></div>
  </div>
  <div style="width: 70%;">
    <form id="category-form" class="form">
      <div class="form-group">
        <lable class="form-label">类别名称</lable>
        <div class="form-control">
          <input type="text" id="categoryName"  placeholder="请输入类别名称" name='categoryName' data-required/>
        </div>
      </div>
      <div class="form-group">
        <lable class="form-label">类别编码</lable>
        <div class="form-control">
          <input type="text" placeholder="请输入类别编码" name='categoryCode' data-required/>
        </div>
      </div>
      <div class="form-btns">
        <span class="btn-primary btn" onclick="save()">保存</span>
        <span class="btn-default btn" onclick="resetForm()" id="reset">重置</span>
      </div>
    </form>
  </div>
</div>
<script>
  const cateForm = document.getElementById("category-form")
  // 创建分类表格
  let  table
  createCategoryTable()
  function createCategoryTable () {
    let el = document.querySelector('.list').querySelector('.itable')
    table = new Table(tableModel, [], el)
    table.create()
  }
  // 拉取分类列表
  getCategorys()
  function getCategorys () {
    getCategoryList().then(res => {
      table.tableData = res.data.data
    })
  }
  // 保存分类信息
  function save () {
    if (!validator.check()) return
    var elems = cateForm,elements
    var params = {}
    for (var i = 0; i < elems.length; i++) {
      var item = elems[i]
      params[item.name] = item.value
    }
    saveCategory(params).then(res => {
      if (res.data.code === 200) {
        getCategorys()
        document.querySelector("#reset").click()
      }
    })
  }
  // 删除分类信息
  function deletes (params) {
    deleteCategory({id: params._id}).then(res => {
      if (res.data.code === 200) {
        alert(res.data.message)
        getCategorys()
      }
    })
  }
  var validator = new Validater(cateForm)
</script>
{% endblock %}
