{% extends './layout.html' %}
{% block head %}
<script src="/public/utils/dialog.js"></script>
<script src="/public/js/moment.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/category.js"></script>
<script src="/public/utils/form.js"></script>
{% endblock %}
{% block content %}
<div class="sub-title">
  分类管理
</div>
<div class="content-inner">
  <div class="btn-group">
    <span class="btn btn-success" onclick="add()">新增</span>
  </div>
  <div class="list">
    <div class="itable"></div>
  </div>
  <div  class="iform" id="categoryForm" style="display: none;"></div>
</div>
<script>
  var module
  var iform = new Iform( document.querySelector('.iform'), formModel, btns)
  const cateForm = document.getElementById(iform.id)
  // 创建分类表格
  let  table
  createCategoryTable()
  function createCategoryTable () {
    let el = document.querySelector('.list').querySelector('.itable')
    table = new Table(tableModel, el)
    table.create()
  }
  // 初始化表单验证对象
  var validator = new Validater(cateForm)
  // 拉取分类列表
  getCategorys()
  function getCategorys () {
    getCategoryList().then(res => {
      table.tableData = res.data.data
    })
  }
  // 保存分类信息
  function save (event) {
    if (!validator.check()) return
    var params = iform.datas
    saveCategory(params).then(res => {
      if (res.data.code === 200) {
        getCategorys()
        eventHandler.getTarget(event).nextSibling.click()
        module.close()
      }
    })
  }
  // 删除分类信息
  function deletes (params) {
    message.confirm('该操作不可恢复，确定要删除吗？', function () {
      deleteCategory({id: params._id}).then(res => {
        if (res.data.code === 200) {
          message.msg({
            type: 'success',
            message: res.data.message
          })
          getCategorys()
        } else {
          message.msg({
            type: 'error',
            message: res.data.message
          })
        }
      })
    })
  }
  // 拉取分类详情
  function getDetail (params) {
    detailCategory([params._id]).then(res => {
      var formData = res.data.data
      iform.form.formData = formData
      module = dialog({
        title: '分类编辑',
        maskClose: true,
        content: document.querySelector("#categoryForm"),
        close: function () {
          document.getElementById(iform.id).reset()
        }
      })
    })
  }
  // 打开新增框
  function add () {
    module = dialog({
      title: '新增分类',
      maskClose: true,
      content: document.querySelector("#categoryForm"),
      close: function () {
        document.getElementById(iform.id).reset()
      }
    })
  }
</script>
{% endblock %}
