{% extends './layout.html' %} {% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/pager.js"></script>
<script src="/public/utils/dialog.js"></script>
<script src="/public/utils/form.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/email.js"></script>

{% endblock %} {% block content %}
<div class="sub-title">
  邮件管理
</div>
<div class="content-inner">
  <div class="list">
    <div class="btns">
      <span class="btn btn-success" onclick="goAddPage()">新增</span>
    </div>
    <div class="itable"></div>
    <div class="pager-container"></div>
  </div>
</div>
<script>
// 创建表格
var itable = new Table(tableModel, document.querySelector('.itable'))
itable.create()
// 创建分页
var pager = new Pager(document.querySelector('.pager-container'), function (pageNum, pageSize) {
  pageNation.pageNum = pageNum
  pageNation.pageSize = pageSize
  // 拉取所有文章
  getEamils(pageNation)
})
var pageNation = {
  pageNum: pager.curPage,
  pageSize: pager.pageSize
}
getEamils(pageNation)
function getEamils (pageNation) {
  emailList(pageNation).then(function (res) {
    itable.tableData = res.data.data.list
    pager.pager.total = res.data.data.total
  })
}
// 新增
function goAddPage () {
  window.location.href = '/admin/emailEdit'
}

</script>
{% endblock %}