<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>博客后台管理系统__town</title>
		<script src="/public/js/axios.min.js" ></script>
		<script src="/public/utils/$http.js" ></script>
		<script src="/public/utils/common.js"></script>
		<link rel="stylesheet/less" type="text/css" href="/public/css/reset.less" />
		<link rel="stylesheet/less" type="text/css" href="/public/css/admin.less"/>
		{% block head %}{% endblock %}
		<script src="/public/utils/table.js"></script>
		<script src="/public/js/less.min.js"></script>
	</head>
	<body>
	  <div class="wrapper">
	    <div class="toper">
	      <h1>博客后台管理系统</h1>
	    </div>
	    <div class="container">
	      <div class="sideBar">
	        <ul>
	          <li>
	            <a href="/admin/category">分类</a>
	          </li>
	          <li>
              <a href="/admin/question">问答</a>
            </li>
            <li>
              <a href="/admin/browseRecords">浏览记录</a>
            </li>
	        </ul>
	      </div>
	      <div class="content">
	        {% block content %}{% endblock %}
	      </div>
	    </div>
	  </div>
	</body>
</html>
