<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="深圳，深圳互动，深互动，深世界，town，blog，博客，个人博客，Vue，node，JS，HTML，CSS，IT技术，sz" />
    <meta name="description" content="个人前端技术博客，主要记录自己的前端学习中遇到的问题，和一些前端技术的学习笔记。网站目前挂在深圳互动深世界科技有限公司，深圳互动深世界是一家依托于互联网的高新技术科技公司，公司目前的核心业务为深圳本地生活服务，为深圳人提供生活中需要的各种信息的查询，类似于深圳本地宝的信息平台" />
		<title>后台管理系统__town</title>
		<script src="/public/js/axios.min.js" ></script>
		<script src="/public/utils/$http.js" ></script>
		<script src="/public/utils/common.js"></script>
		<script src="/public/utils/message.js"></script>
		<link rel="shortcut icon" href="/public/css/favicon.ico" />
		<link rel="stylesheet" href="/public/css/icon.css" />
		<link rel="stylesheet/less" type="text/css" href="/public/css/reset.less" />
		<link rel="stylesheet/less" type="text/css" href="/public/css/admin.less"/>
		{% block head %}{% endblock %}
		<script src="/public/utils/table.js"></script>
		<script src="/public/js/less.min.js"></script>
	</head>
	<body>
	  <div class="wrapper">
	    <div class="toper">
	      <h1>博客后台管理系统</h1>
	    </div>
	    <div class="container">
	      <div class="sideBar">
	        <ul>
	          <li>
	            <a href="/admin/category">分类管理</a>
	          </li>
	          <li>
              <a href="/admin/question">问答管理</a>
            </li>
            <li>
              <a href="/admin/browseRecords">浏览记录</a>
            </li>
            <li>
              <a href="/admin/artical">文章管理</a>
            </li>
            <li>
              <a href="/admin/emailRecords">邮件管理</a>
            </li>
            <li>
              <a href="/admin/users">用户管理</a>
            </li>
	        </ul>
	      </div>
	      <div class="content">
	        {% block content %}{% endblock %}
	      </div>
	    </div>
	  </div>
	  <script>
	    (function () {
	      var pathName = window.location.href, navList = document.querySelector('.sideBar').querySelectorAll('a')
	      navList.forEach(function (item) {
	        if (item.href === pathName) {
	          item.classList.add('active')
	        } else {
	          item.classList.remove('active')
	        }
	      })
	    }())
	  </script>
	</body>
</html>
