{% extends './layout.html' %} {% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/pager.js"></script>
<script src="/public/utils/form.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/question.js"></script>

{% endblock %} {% block content %}
<div class="sub-title">
  问答管理
</div>
<div class="content-inner">
  <div class="list">
    <div class="itable"></div>
    <div class="pager-container"></div>
  </div>
  <div class="iform"></div>
</div>
<script>
  // 创建问答表格
  let table = new Table(tableModel, document.querySelector('.itable'))
  table.create()
  // 创建分页
  var pager = new Pager(document.querySelector('.pager-container'), function (pageNum, pageSize) {
    pageNation.pageNum = pageNum
    pageNation.pageSize = pageSize
    getQuestion(pageNation)
  })
  // 创建表单
  var iform = new Iform(document.querySelector(".iform"), formModel, [{
    text: '保存',
    classes: ['btn-primary'],
    on: {
      click(event) {
        saveQuestion(event)
      }
    }
  }, {
    text: '重置',
    classes: ['btn-default'],
    on: {
      click() {
        resetForm()
      }
    }
  }])
  // 添加表单验证
  var validator = new Validater(document.getElementById(iform.id))
  // 拉取问答列表
  var pageNation = {
    pageNum: pager.curPage,
    pageSize: pager.pageSize
  }
  getQuestion(pageNation)
  // 拉取问答列表
  function getQuestion(params) {
    findQuestions(params).then(res => {
      table.tableData = res.data.data.list
      pager.pager.total = res.data.data.total
    })
  }
  // 拉取问答详情
  function getDetail (row) {
  	detailQuestion({id: row._id}).then(res => {
  	  iform.form.formData = res.data.data
  	})
  }
  // 提交回答
  function saveQuestion (event) {
    if (!validator.check()) return
    editQuestion(iform.datas).then(res => {
      if (res.data.code === 200) {
        getQuestion(pager)
        eventHandler.getTarget(event).nextSibling.click()
      }
    })
  }
</script>
{% endblock %}