{% extends './layout.html' %}
{% block head %}
<script src="/public/js/moment.js"></script>
<script src="/public/utils/validate.js"></script>
<script src="/public/js/admin/question.js"></script>

{% endblock %}
{% block content %}
<div class="sub-title">
  问答管理
</div>
<div class="content-inner">
  <div class="list">
    <div class="itable"></div>
  </div>
</div>
<script>
  // 创建问答表格
  let table = new Table(tableModel, document.querySelector('.itable'))
  table.create()
  // 拉取问答列表
  getQuestion({
    pageNum: 1,
    pageSize: 20
  })
 function getQuestion (params) {
   findQuestions(params).then(res => {
     table.tableData = res.data.data
   })
 }
  
</script>
{% endblock %}
