{% extends './layout.html' %} 
{% block header %}
<script src="/public/js/moment.js"></script>
<link rel="stylesheet/less" href="/public/css/home.less" /> 
<style type="text/css">
	.praise{
	  border-radius: 20px;
	  padding: 5px 20px;
	  display: inline-block;
	  color: #E13D13;
	  line-height: 30px;
	  box-shadow:0 0 5px rgba(225,61,19,0.3) ;
	  cursor: pointer;
	  transition: all .3s;
	}
	.praise span{
	  margin-right: 5px;
	}
	.praise:hover{
	  box-shadow:0 0 10px rgba(225,61,19,0.8) ;
	}
</style>
{% endblock %} 
{% block content %}
<div class="main-content">
  <div style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #eee;">
    <h3 style="text-align: center; font-size: 20px; font-weight: 600; color: #000; margin-bottom: 10px;">{{ artical.title }}</h3>
    <p  style="font-size: 14px; color: #999; margin-bottom: 10px;">作者：{{artical.auther}}&nbsp;&nbsp;更新时间：{{artical.updateTime | date('Y-m-d H:i:s', -480, 'CCT') }}&nbsp;&nbsp;类别：{{artical.category}}</p>
    <p style="padding: 10px; font-size: 16px;line-height: 30px;background-color: #eee;text-align: justify; color: #666;">{{artical.summary}}</p>
  </div>
  <div class="content">
    {% autoescape %}{{ artical.content}}{% endautoescape %}
    <div align="center">
      <div class="praise" onclick="praise()">
        <span>赞一个吧</span>
        <img src="../public/img/praise.png" height="30px" alt="赞一个吧" style="display: inline-block;vertical-align: middle;margin-top: -5px;"/>
      </div>
    </div>
  </div>
</div>
<script>
var articalId = window.location.href.split('/artical/')[1]
function praise() {
  $http.post('/api/praise', {articalId: articalId}).then(res => {
    console.log(res.data.message)
    message.msg({
      message: res.data.message,
      type: res.data.code === 200 ? 'success' : 'error'
    })
  })
}
</script>
{% endblock %}