{% extends './layout.html' %} 
{% block header %}
<script src="/public/js/moment.js"></script>
<link rel="stylesheet/less" href="/public/css/home.less" /> 
{% endblock %} 
{% block content %}
<div class="main-content">
  <div class="sub-title">
    <h5>文章列表</h5>
    <p class="desc">求知若渴，虚心若愚</p>
  </div>
  {% if articals.length > 0 %}
  <div class="article">
    {% for key, artical in articals %}
    <div class="article-item">
      <a href="{{'/artical/' + artical._id}}">
        <div class="context">
          <div class="article-name">
            <h5>{{artical.title}}</h5>
            <span>{{artical.updateTime | date('Y-m-d H:i:s', -480, 'CCT') }}</span>
          </div>
          <div class="article-intro">{{artical.summary}}</div>
        </div>
        <div class="code">
          <img src="{{'/qrcode?link=/artical_m/' + artical._id}}" />
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="empty" style="text-align: center; font-size: 14px;
    color: #aaa; line-height: 50px;">该分类下暂无文章</div>
  {% endif %}
</div>
<script>
</script>
{% endblock %}