{% extends './layout.html' %} 
{% block header %}
<link rel="stylesheet/less" href="/public/css/home.less" /> 
{% endblock %} 
{% block content %}
<div class="main-content">
  <div class="sub-title">
    <h5>我的技术</h5>
    <p class="desc">求知若渴，虚心若愚</p>
  </div>
  <div class="stack">
    <ul class="progress clearfix">
      {% for key, val in nav %} {% if val.name !== '首页' %}
      <li>
        <p class="progressName">{{val.name}}</p>
        <div class="progressBar">
          <a name="{{val.num}}" class="bar"><span class="number"></span></a>
        </div>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
  <div class="sub-title">
    <h5>最新更新</h5>
    <p class="desc">求知若渴，虚心若愚</p>
  </div>
  <div class="article">
    {% for key, artical in articals %}
    <div class="article-item">
      <a href="{{'/artical/' + artical._id}}">
        <div class="context">
          <p class="article-name"><h5>{{artical.title}}</h5></p>
          <div class="article-intro">{{artical.summary}}</div>
        </div>
        <div class="code">
          <img src="/public/img/code.png" />
        </div>
      </a>
    </div>
    {% endfor %}
    <div class="more">
      <a href="javascript:;">
        <-->&nbsp;&nbsp;More&nbsp;&nbsp;
          <-->
      </a>
    </div>
  </div>
  <div class="sub-title">
    <h5>问答</h5>
    <p class="desc">求知若渴，虚心若愚</p>
  </div>
  <div class="answer-area">
    {% for key, answer in questions %}
    <div class="anwser-item">
      <a href="javascript:;">
        <h5 class="question">{{answer.question}}</h5>
      </a>
      <div>
        
      </div>
      <div class="description">
        <ul>
          <li>
            <div class="responseder">问题描述：</div>
            <div class="response">{{answer.description}}</div>
          </li>
        </ul>
      </div>
      <div class="answer">
        {% if answer.answer %}
        <ul>
          <li>
            <div class="responseder">答(town)：</div>
            <div class="response">{{answer.answer}}</div>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="more">
      <a href="javascript:;">
        <-->&nbsp;&nbsp;More&nbsp;&nbsp;
          <-->
      </a>
    </div>
  </div>
</div>
<script>
  (function() {
    var list = document.querySelectorAll('.bar')
    var total = 0
    list.forEach(item => {
      total += Number(item.name)
    })
    list.forEach(item => {
      if (total === 0) {
        item.style.width = 100 + '%'
        item.querySelector('.number').innerText = 100 + '%'
        return
      }
      var rate = Math.floor(Number(item.name) / total * 100)
      item.style.width = rate + '%'
      item.querySelector('.number').innerText = rate + '%'
    })
  }())
</script>
{% endblock %}