<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet/less" type="text/css" href="/public/css/reset.less" />
    <link rel="stylesheet/less" type="text/css" href="/public/css/animate.less" />
    <link rel="stylesheet/less" type="text/css" href="/public/css/index.less" />
    {% block header %}{% endblock %}
    <script src="/public/js/axios.min.js" ></script>
    <script src="/public/js/jquery-1.11.0.js" ></script>
    <script src="/public/utils/$http.js" ></script>
    <script src="/public/js/less.min.js"></script>
    <script src="/public/js/layout.js" ></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="inner">
        <div class="banner">
          <a href="javascript:;">
            <img src="/public/img/a58cb1a41decbf81f92731f32fedd112.jpg" />
          </a>
        </div>
      </div>

      <div class="info">
        <div class="inner flex">
          <div class="info-left">
            <h1>town 个人博客</h1>
            <p class="time">{{dateLength}}天之前发布</p>
            <div class="flex">
              <div class="key-words clearfix">
                <ul>
                  <li>
                    <a href="javascript:;">原创作品</a>
                  </li>
                  <li>/</li>
                  <li>
                    <a href="javascript:;">转载</a>
                  </li>
                  <li>/</li>
                  <li>
                    <a href="javascript:;">gitHub</a>
                  </li>
                </ul>
              </div>
              <div class="rating flex-1">
                <ul class="clearfix">
                  <li>
                    <a href="javascript:;">
                      <embed src='/public/img/svg/card-zan.svg' type="image/svg+xml" width="16" height="14"></embed>
                      <span>6</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <embed src='/public/img/svg/card-pinglun.svg' type="image/svg+xml" width="16" height="14"></embed>
                      <span>{{questions.length}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <embed src='/public/img/svg/card-liulan.svg' type="image/svg+xml" width="16" height="14"></embed>
                      <span>{{viewCount}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex-1 info-right">
            <div class="flex user-info">
              <div class="avatar">
                <img src="/public/img/avatar.jpg" />
              </div>
              <div class="flex-1 user-right-info">
                <p class="name">town</p>
                <p class="job">深圳 | 前端</p>
                <div>
                  <button class="warning" onclick="_openDialog()">提问</button>
                  <button>吐槽</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-body">
        <div class="inner">
          <div class="sidebar">
            {% include "./sidebar.html" %}
          </div>
          <div class="content">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>

    </div>

    <!--遮罩层-->
    <div class="mask" onclick="_closeDialog()">
      <div class="body">
        <div class="header"><span>QUESTION</span></div>
        <div class="question">
          <form id="questionForm">
            <div class="form-group">
              <label>qustion</label>
              <div class="form-control">
                <input placeholder="please input questions" name="question"/>
              </div>
            </div>
            <div class="form-group">
              <label>category</label>
              <div class="form-control">
                <select placeholder='please select category' name='category'>
                  <option value="h5">h5</option>
                  <option value="css">css</option>
                  <option value="native">js</option>
                  <option value="node">node</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>description</label>
              <div class="form-control">
                <textarea placeholder="please make a description of question" name='description'></textarea>
              </div>
            </div>
          </form>
          <div class="button">
            <button class="warning" onclick='goQuestion()'>submit</button>
            <button onclick="_closeDialog()">cancel</button>
          </div>
        </div>
      </div>
    </div>
    <audio src="" id="player" ></audio>
  </body>
  <script>
    function _openDialog() {
      document.querySelector('.mask').classList.add('active')
    }

    function _closeDialog() {
      document.getElementById('questionForm').reset()
      document.querySelector('.mask').classList.remove('active')
    }
    
    document.querySelector('.body').addEventListener('click', function (event) {
      event = event || window.event
      event.stopPropagation()
    }, false)
    
    // 表单验证
    function autoValidate (elem) {
      elem.addEventListener('change', function (event) {
        event = event || window.event
        if (!event.target.value) {
          elem.parentElement.classList.add('error')
        } else {
          elem.parentElement.classList.remove('error')
        }
      }, false)
    }
    // 表单验证错误提示
    function tips (elem, message) {
      elem.parentElement.classList.add('error')
    }
    // 提交提问
    function goQuestion (event) {
      event = event || window.event
      event.stopPropagation()
      var forms = document.getElementById('questionForm').elements
      var params = {}
      var valid = true
      for (var i = 0; i < forms.length; i++) {
        var item = forms[i]
        params[item.name] = item.value
        if (!item.value) {
          valid = false
          autoValidate(item)
          tips(item, item.name + '为必填项')
        }
      }
      if (valid) {
        let res = questionSubmit(params).then(res => {
          if (res.data.code === 200) {
            location.reload()
          }
        })
      }
    }
    // 提交浏览数据
    visitSubmit()
    // 拉取歌曲列表
    getSongList().then(res => {
      let list = res.data.req_0.data.midurlinfo
      let player = document.getElementById('player')
      let control = document.getElementById('audioControl')
      player.src = list[0].purl
      player.name = 0
      player.play()
      control.classList.add('play')
      player.addEventListener('ended', function () {
        var index = player.name*1 + 1
        if (index >= list.length) {
          index = 0
        }
        player.name = index
        player.src = list[index].purl
      }, false)
    })
  </script>

</html>