<div class="sidebar">
  <div class="music">
    <div class="control" id="audioControl" onclick='playTogger()'>
      <img src="/public/img/f7e4a6e990a9a4a2866ebba9b1709b2e.png" />
    </div>
    <p class="singer">{{liudehua}}</p>
  </div>
  <div class="navs">
    <ul>
      {% for key, val in nav %}
        {% if val.name === '首页' %}
        <li><a href="{{val.path}}" class="nav-item" name="{{val.path}}">首页</a></li>
        {% else %}
        <li><a href="{{'/articalList'+val.path}}" class="nav-item" name="{{'/articalList'+val.path}}">{{val.name}} ({{val.num}})</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<script>
  (function () {
    let path = window.location.pathname
    console.log(path)
    var list = document.querySelector('.navs').querySelectorAll('.nav-item')
    list.forEach(item => {
      if (item.name === path) {
        item.parentElement.classList.add('active')
      } else {
        item.parentElement.classList.remove('active')
      }
    })
  }())
  function playTogger (event) {
    let player = document.getElementById('player')
    let control = document.getElementById('audioControl')
    if (player.paused) {
      player.play()
      control.classList.add('play')
    } else {
      player.pause()
      control.classList.remove('play')
    }
  }
</script>