.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-pack-left {
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.flex-pack-right {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.userSelect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate3D(0, 0, 1, -360deg);
    -moz-transform: rotate3D(0, 0, 1, -360deg);
    transform: rotate3D(0, 0, 1, -360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
  to {
    -webkit-transform: rotate3D(0, 0, 1, 360deg);
    -moz-transform: rotate3D(0, 0, 1, 360deg);
    transform: rotate3D(0, 0, 1, 360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate3D(0, 0, 1, -360deg);
    -moz-transform: rotate3D(0, 0, 1, -360deg);
    transform: rotate3D(0, 0, 1, -360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
  to {
    -webkit-transform: rotate3D(0, 0, 1, 360deg);
    -moz-transform: rotate3D(0, 0, 1, 360deg);
    transform: rotate3D(0, 0, 1, 360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate3D(0, 0, 1, -360deg);
    -moz-transform: rotate3D(0, 0, 1, -360deg);
    transform: rotate3D(0, 0, 1, -360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
  to {
    -webkit-transform: rotate3D(0, 0, 1, 360deg);
    -moz-transform: rotate3D(0, 0, 1, 360deg);
    transform: rotate3D(0, 0, 1, 360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
  }
}
@-moz-keyframes flash {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
}
@-webkit-keyframes flash {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
}
@keyframes flash {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
}
@-moz-keyframes movex {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes movex {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes movex {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
