.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-pack-left {
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
.flex-pack-right {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.userSelect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.info-left {
  width: 863px;
  padding: 15px 20px 20px 0;
  border-right: 1px solid #eee;
}
.info-left h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
}
.info-left .key-words {
  padding: 8px 20px 0 0;
}
.info-left .time,
.info-left .key-words li a,
.info-left .rating li a,
.info-left .key-words li {
  font-size: 14px;
  color: #bbb;
  line-height: 1;
  padding-top: 8px;
}
.info-left .time:hover,
.info-left .key-words li a:hover,
.info-left .rating li a:hover,
.info-left .key-words li:hover {
  color: #E13D13;
}
.info-left .rating {
  padding-top: 8px;
}
.info-left .rating li {
  float: right;
  padding: 0 20px;
  border-radius: 1px solid #eee;
}
.info-left .rating li a {
  display: inline-block;
}
.info-left .rating li embed {
  width: 16px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.info-left .rating li a span {
  display: inline-block;
  vertical-align: middle;
}
.info-left .key-words li {
  float: left;
  margin: 0 5px;
}
.info-left .key-words li:first-of-type {
  margin-left: 0;
}
.info-left .key-words li:last-of-type {
  margin-right: 0;
}
.info-right {
  padding: 15px 0px 20px 30px;
}
.info-right .avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.info-right .avatar img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.info-right .user-right-info {
  margin-left: 20px;
}
.info-right .user-right-info .name,
.info-right .user-right-info .job {
  line-height: 1;
}
.info-right .user-right-info .job {
  margin: 10px 0;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
  filter: alpha(opacity = (0));
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: rgba(0, 0, 0, 0.7);
}
.mask .body {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
  filter: alpha(opacity = (80));
  -webkit-transform: translate3d(-50%, -80%, 0);
  -moz-transform: translate3d(-50%, -80%, 0);
  -ms-transform: translate3d(-50%, -80%, 0);
  transform: translate3d(-50%, -80%, 0);
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mask .body .header {
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.mask .body .header span {
  color: #ffe366;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left center, right center, from(#b01fb8), to(#ffbd4c));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mask.active {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  z-index: 1000;
}
.mask.active .body {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
}
.question .button {
  padding: 10px 0 0 0px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.question .button button {
  letter-spacing: 2px;
  outline: none;
  font-size: 12px;
}
.form-group {
  min-width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 22px;
}
.form-group label {
  color: #333;
  width: 100px;
  padding-right: 15px;
  text-align: right;
}
.form-group input,
.form-group textarea,
.form-group select {
  font-family: arial;
  font-size: 14px;
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  padding: 10px 15px;
  box-sizing: border-box;
}
.form-group .form-control {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-group .form-control input,
.form-group .form-control textarea,
.form-group .form-control select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-group .form-control .tipMsg {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 12px;
  line-height: 22px;
}
.form-group .form-control.error {
  border-color: red;
}
.form-group .form-control.error input::-webkit-input-placeholder {
  color: #ff5c44;
}
.form-group .form-control.error textarea::-webkit-input-placeholder {
  color: #ff5c44;
}
.sidebar {
  padding: 20px 0;
  box-sizing: border-box;
}
.sidebar .music {
  padding: 20px;
  text-align: right;
}
.sidebar .music .control {
  width: 100px;
  height: 100%;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: flash 3s linear infinite;
  -webkit-animation: flash 3s linear infinite;
}
.sidebar .music .control img {
  display: block;
}
.sidebar .music .control.play img {
  animation: rotate 3.5s linear infinite;
  -webkit-animation: rotate 3.5s linear infinite;
}
.sidebar .music .singer {
  width: 100px;
  text-align: center;
  color: #fff;
  margin-left: 160px;
}
.sidebar .navs {
  width: 100%;
}
.sidebar .navs li {
  padding-right: 10px;
  text-align: right;
}
.sidebar .navs li a {
  display: inline-block;
  width: 100px;
  line-height: 20px;
  color: #fff;
  text-align: right;
  padding: 10px 20px;
}
.sidebar .navs li:hover a {
  background: #ff5c44;
}
.sidebar .navs li.active a {
  background: #ff5c44;
}
.sub-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #eceef0;
}
.sub-title h5 {
  font-size: 16px;
  padding-left: 16px;
  position: relative;
}
.sub-title h5:before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 3px;
  background-color: #ff5c44;
}
.sub-title .desc {
  font-size: 12px;
  color: #858789;
  line-height: 16px;
}
